<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white shadow-sm p-1 mb-2">
    <div class="container">

        <a class="navbar-brand" href="#">
            <img src="img/logo.png" alt="" height="64"/>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-0 mb-lg-0 ms-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Главная
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="counter">
                        Услуги
                    </NavLink>
                </li>
            </ul>
            <div class="mb-0 mb-lg-0 ms-lg-4 d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-warning">Войти</button>
                <button type="button" class="btn btn-warning">Регистрация</button>
            </div>
        </div>
    </div>
</nav>
