<nav class="navbar navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <NavLink class="nav-link" href="manager/account/master" Match="NavLinkMatch.All">
                Мастера
            </NavLink>
        </li>
    </ul>
</nav>