@page "/client/account"

@using BeautySalonSite.Models;
@using Microsoft.AspNetCore.Authorization;
@inject HttpClient Http

@attribute [Authorize(Roles = "Client")]

<PageTitle>Личный кабинет</PageTitle>

<div class="container">
    <div class="py-5">
        <h2>Личный кабинет</h2>
    </div>
    <div class="row">
        <div class="col-md-4 order-md-1 mb-4">
            <div class="block m-1 p-4">
                <ClientNavMenu></ClientNavMenu>
            </div>
        </div>
        <div class="col-md-8 order-md-2">
            <div class="block m-1 p-4">
                
                <h4 class="mb-4">Личная информация</h4>
                <div class="mt-4">
                    <p><b>Имя:</b> @customer?.Name</p>
                    @if (customer?.Birthday is null)
                    {
                        <p><b>Дата рождения:</b> не указана</p>
                    }
                    else
                    {
                        <p><b>Дата рождения:</b> @customer?.Birthday?.ToString("dd.MM.yyyy")</p>
                    }
                    <p><b>Email:</b> @customer?.Email</p>
                    <p><b>Телефон:</b> @customer?.Phone</p>
                </div>
                <div class="d-flex justify-content-end">
                    <a href="client/account/edit" class="btn btn-warning mt-2">Изменить</a>
                </div>

            </div>
        </div>
    </div>
</div>

@code {
    private Customer? customer;

    protected override async Task OnInitializedAsync()
    {
        await GetCustomer();
    }

    private async Task GetCustomer()
    {
        customer = await Http.GetFromJsonAsync<Customer>("customer/account");
    }
}
