@page "/client/account"

@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize(Roles = "Client")]

<PageTitle>Личный кабинет</PageTitle>

<section id="about">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-6 text-center">
                <h2 class="mb-4">Личная информация</h2>
                <p>Салон красоты, где искусство стиля и ухода за внешностью сочетается с непревзойденным качеством обслуживания. У нас вы найдете весь спектр услуг для создания неповторимого образа</p>
            </div>
        </div>
    </div>
</section>

@code {

}
