@page "/"

@*HERO*@
<section id="hero" class="justify-content-end d-flex flex-column">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="display-4 mb-2 fw-bold text-white">Вы заслуживаете лучшего!</h1>
                <p class="text-white">Запишитесь на наши услуги! Вам точно понравится!</p>
                <a href="" class="btn btn-warning mt-4 btn-lg">Записаться</a>
            </div>
        </div>
    </div>
</section>

@*ABOUT*@
<section id="about">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-6 text-center">
                <h4 class="text-warning">Про нас</h4>
                <h2 class="mb-4">Салон красоты <b>Benetty</b></h2>
                <p>Салон красоты, где искусство стиля и ухода за внешностью сочетается с непревзойденным качеством обслуживания. У нас вы найдете весь спектр услуг для создания неповторимого образа</p>
            </div>
        </div>
    </div>
</section>

@*SERVICES*@
<section id="services">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-6 text-center">
                <h4 class="text-warning">Мы предлагаем</h4>
                <h2 class="mb-4">Услуги</h2>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-6 list-group">
                <div class="list-group-item d-flex align-content-center justify-content-between align-items-center">
                    <p class="my-auto">Стрижки</p>
                    <button class="btn btn-warning">Посмотреть детальнее</button>
                </div>
            </div>
        </div>
    </div>
</section>

@*RESULTS*@
<section id="results">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-6 text-center">
                <h4 class="text-warning">Вдохновение</h4>
                <h2 class="mb-4">Наши работы</h2>
            </div>
        </div>
        <div class="scroll-container">
            <img src="img/results/1.jpeg"/>
            <img src="img/results/2.jpg" />
            <img src="img/results/3.jpg" />
            <img src="img/results/4.jpg" />
            <img src="img/results/5.jpg" />
        </div>
    </div>
</section>
